html{

    @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
    font-family: "Roboto", sans-serif;
    background-color: #DCDCDD;

button{
    font-size: x-large;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    outline: 5px solid #2C302E
}


body{
    width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    .header{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: #C5C3C6;

        .container{
            
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 2rem;
        padding-bottom: 2rem;
        width: 66%;
        max-width: 1267.2px;
        }
    
        .headerText{

            color: #2C302E;
            font-size: 45px;
            font-weight: bolder;

        }

        button{

            width: 10rem;
            height: 4rem;
           
            
        }
    }

    .hero{

        padding-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;

        .heroText{
            font-size: xx-large;
            font-weight: bold;
        }
        
        button{
            height: 4rem;
            width: 20rem;
        }
    }

    .bookCardContainer{
        
        display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-content: space-between;
        gap: 3rem;
        padding: 1.5rem;
        background-color: red;
        outline: 5px solid #2C302E;
        border-radius: 20px;
        margin-top: 4rem;
        width: 66%;
        height: auto;

        .bookCard{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
            background-color: green;
            outline: 5px solid #2C302E;
            border-radius: 20px;
            width: 100%;
            min-height: 50px;

            .title{
                font-size: xx-large;
                font-weight: bold;
            }

            .author{
                font-size: xx-large;
                font-weight: bold;
            }

            button{
                width: 50%;
            }

        }

    }

 }

}